TELEGRAM_BOT_TOKEN=
OPENAI_API_KEY=
DOCTOR_TELEGRAM_USER_ID=
PATIENT_TELEGRAM_USER_ID=

GOOGLE_CALENDAR_CREDENTIALS_PATH=credentials.json
GOOGLE_CALENDAR_ID=
GOOGLE_CALENDAR_TIMEZONE=America/Mexico_City